!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag    'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    .container-fluid.mt-5
      - if flash.alert
        = alert_message('danger', false) do
          = flash.alert
      - if flash.notice
        = alert_message('success', false) do
          = flash.notice
      = yield
